header div:nth-child(2) {
    background-image: url("../IMG/Header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: white;
}